body {
    background-image:url("../1.0/space.jpg");
    
  }
  h1{
    text-align:center;
    color: red;
  }
  p{
    text-align:center;
    color: red;
  }
  img {
    width: 650px;
    height: 500px;
    border-color: rgb(0, 0, 0);
   
  }
  ul {
  
    font-family: monospace;
    color:rgb(255, 0, 0);
    text-align:left;
    height:500px;
    
  
  }
  h2 {
    text-align:left;
    color:red;
    
    }
 .div1{
    color:red;
    size:5pt;
    font-style:italic;
    text-align:center;
    
 }
 li{
  font-size:20px;
 }
 .photo1{
  width: 350pt;
  height:250pt;
  border-style:ridge;
  border-color:black;
  text-align:center;
 }

