
.div1{
    background-color: rgb(39, 56, 9);
    text-align: center;
    color: bisque;
    border: 20px;
    border-style: inset;
    border-color:rgb(63, 167, 18) ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    
   
}
.div2{
    background-color: rgb(39, 56, 9);
    text-align: center;
    color: rgb(34, 192, 216);
    border: 1cm;
    border-style: inset;
    border-color:rgb(62, 205, 37) ;
    font-family: Impact;
    font-size: medium;

 
}
.foto1{
    border: 2cm;
    border-color: rgb(47, 213, 25);
    border-style: ridge;
    
}