.m1{
    background-color: rgb(104, 202, 124);
    color: black;
}
.m2{
    background-color: rgb(220, 105, 73);
    color: rgb(0, 0, 0);
}
.m3{
    background-color: rgb(104, 185, 203);
    color: rgb(0, 0, 0);
}
.m4{
    background-color: rgb(214, 106, 156);
    color: black;
}