body{
    background-color: black;

}
.div1 { 
    background-color: rgb(255, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    border-color: black;
    border: 1cm;
    border-radius: 10%;
    border-style:double;
    text-align: center;
    font-style: italic;

}
h1{
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: large;
    font-style: oblique;
}
.div2{
    width:560px;
     height:315px;
     background-color: rgb(255, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    border-color: black;
    border: 50px;
    border-radius: 10%;
    border-style:inset;
    text-align: center;
    
}

.div3{
    background-color: rgb(255, 0, 0);
    margin-left: 5%;
    margin-right: 5%;
    border-color: black;
    border: 10px;
    
    border-radius: 5%;
    border-style:double;
    text-align: center;
    font-size: large;
    width: 100px;
    height: 50px;
    

}

a{
    text-align:center;
}




.P1 { text-align: justify;
    margin-left: 5%; margin-right: 5%;
    font-style: italic;

}
A:link{ 
    color: rgb(0, 55, 255); 
    text-decoration:none;
    }
    A:active { 
    color: #000000; 
    text-decoration:none; 
    }
    A:visited {
    color: rgb(25, 0, 255); 
    text-decoration:none;
    }
    A:hover { 
    color: Red; 
    text-decoration:underline; 
    }
    